<div class='subheading-container'>
  <div class='bracket bracket-yellow-top-left'></div>
  <div class='bracket bracket-yellow-bottom-right'></div>
  <h1 class='subheading'>My Topics</h1>
</div>

<div class='profile-page-links-container'>
  <% @profile.topics.each do |topic| %>
      <div class='profile-page-link-container'>
        <div class='color-fill'></div>
        <h2 class='profile-page-link-inner-content'><%= link_to character_limit(topic.title, 20), topic %></h2>
      </div>
  <% end %>
</div>

<br>
<%= javascript_pack_tag 'newTopicForm' %>
