<div class='about-page-welcome-container'>
  <div class='about-page-welcome-square'></div>
  <div class='about-page-vertical-text'>ようこそ</div>
  <div class='about-page-horizontal-text'>ウエルカム</div>
  <h1 class='about-page-welcome-inner-content'>Welcome to ThinkTank!</h1>
</div>

<div class='about-page-description-container'>
  <div class='about-page-description-bracket about-page-description-bracket-left'></div>
  <div class='about-page-description-bracket about-page-description-bracket-right'></div>
  <p class='about-page-description-content'>
    ThinkTank is a platform for you to write posts about specific topics.
  </p>
  <p class='about-page-description-content'>
    You can also look up people who have written their own posts in topics similar to yours, and compare your thoughts!
  </p>
  <p class='about-page-description-content description-content-separator'>________________</p>
  <div class='about-page-options-container'>
    <div class='about-page-option-container'>
      <p class='about-page-description-content'>
        Been here before?
      </p>
      <a class='about-page-description-content options-link' href='/users/sign_in'>
        Sign in
      </a>
    </div>
    <div class='about-page-option-container'>
      <p class='about-page-description-content'>
        First time?
      </p>
      <a class='about-page-description-content options-link' href='/users/sign_up'>
        Sign up
      </a>
    </div>
  </div>
</div>
