


<div id='homepage-container' class='homepage-container'></div>


<%= javascript_pack_tag 'homepage'  %>

<%#<%= content_tag :div,%>
  <%#id: "search-data",%>
  <%#data: { search_group_name: 'profile-page-topics', search_items: @profile.topics.to_json, color: 'red' } do %>
<%#<% end %>


