<h1 class='form-title'>New Post</h1>

<%= render 'form', post: @post, topic: @topic %>

<div>
  <%= link_to 'Cancel', Topic.find(params[:topic]), class: 'options-link' %>
</div>

<div class='bottom-spacer'>
</div>
