/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background: #f7f7f7;
}

.app-container {
  max-width: 1400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bottom-spacer {
  height: 50px;
}

.timestamp-username-link {
  color: #4a7cff;
  z-index: 2;
  position: relative;
  text-decoration: none;
}

.timestamp-username-link:hover {
  text-decoration: underline;
}

/*----------------------------------TOPIC-OPTIONS-LINKS----------------------------------*/
.options-links-container {
  display: flex;
  justify-content: center;
  width: 1000px;
  margin-bottom: 20px;
}

.options-link-container {
  width: 300px;
  text-align: center;
}

.options-link {
  color: #c4c4c4;
  font-family: 'Arial Narrow';
  font-weight: lighter;
  font-size: 40px;
  letter-spacing: 5px;
  text-decoration: none;
  border: none;
  background: #f7f7f7;
  cursor: pointer;
  transition: all 0.5s;
}

.options-link:hover {
  color: rgba(221, 33, 32, 1);
  border-bottom: 1px solid rgba(221, 33, 32, 1);
}

.options-link-separator {
  color: #c4c4c4;
  margin: 0 30px;
  font-size: 40px;
}

/*-------------------------------------SEARCH-BAR---------------------------------*/
.search-container {
  width: 100%;
}
.search-bar-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.search-bar {
  border: 1px solid #C4C4C4;
  font-family: 'Bitter';
  color: transparent;
  text-align: center;
  width: 90%;
  height: 50px;
  font-size: 50px;
  margin: 40px 0;
}

.search-bar-red {
  text-shadow: 0 0 0 #DD2120;
}

.search-bar-blue {
  text-shadow: 0 0 0 #4A7CFF;
}

.search-bar-red:focus {
  outline: none;
  border: 1px solid #DD2120;
}

.search-bar-blue:focus {
  outline: none;
  border: 1px solid #4A7CFF;
}

/*-----------------------------------COLOR-HIGHLIGHTING--------------------------------*/
.red-highlight {
  color: #DD2120;
}
.blue-highlight {
  color: #4A7CFF;
}

.non-highlighted-span-tag {
  white-space: pre-wrap;
}

.highlighted-span-tag {

}
