.form-title {
  color: #4a7cff;
  font-family: 'Arial Narrow';
  font-weight: lighter;
  letter-spacing: 5px;
  font-size: 80px;
  border-left: 2px solid #dd2120;
  border-right: 2px solid #dd2120;
  padding: 0 30px;
}
.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  width: 100%;
}

.form-input-field-container {
  width: 100%;
  margin: 20px 0;
}

.form-input-field {
  outline: none;
  font-family: 'Bitter';
  border: 3px solid #202020;
  width: 90%;
  margin: 20px 0;
  padding: 20px;
}

.form-input-field:focus {
  border: 3px solid #4A7CFF;
}

.form-input-title {
  height: 60px;
  font-size: 60px;
  text-align: center;
}

.form-input-subtitle {
  height: 80px;
  font-size: 30px;
  text-align: center;
}


.form-input-content {
  font-size: 20px;
  height: 1000px;
}

.form-input-devise {
  font-size: 30px;
  height: 80px;
  width: 50%;
  padding: 0;
}


.form-devise-unhappy {
  font-family: 'Arial Narrow';
  font-weight: lighter;
  letter-spacing: 5px;
  color: #202020;
  margin: 5px 0;
}

form, .edit_user {
  margin: 30px 0;
}

.form-submit-btn {
  width: 50%;
  color: #4a7cff;
  font-size: 100px;
  font-family: 'Arial Narrow';
  font-weight: lighter;
  letter-spacing: 5px;
  border: 3px solid #4a7cff;
  font-size: 30px;
  padding: 20px;
  background: #f7f7f7;
  cursor: pointer;
  transition: all 0.5s;
  margin: 20px 0;
}

.form-submit-btn:hover {
  color: #f7f7f7;
  background: #4a7cff;
}

.form-devise-row {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.form-devise-label-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
}

.form-devise-label-container i {
  text-align: center;
  font-family: 'Arial Narrow'
}

.form-devise-label {
  font-family: 'Arial Narrow';
  font-weight: lighter;
  letter-spacing: 5px;
  text-align: center;
}

.devise-options-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.button_to {
  text-align: center;
}
