.post-show-title {
  width: 100%;
  text-align: center;
  font-family: 'Bitter';
  font-size: 60px;
  padding: 20px 10px;
  background: #7ff0ff;
  color: #202020;
  max-width: 90%;
}

.post-show-subtitle-container {
  position: relative;
  max-width: 90%;
  margin-top: 50px;
  margin-bottom: 40px;
}

.post-show-subtitle {
  font-family: 'Bitter';
  font-size: 40px;
  padding: 30px;
  text-align: center;
}

.post-show-content-container {
  display: relative;
  background: #f7f9dd;
  max-width: 90%;
  margin-bottom: 100px;
}

.post-show-content-red-box {
  background: rgba(221, 33, 32, 0.4);
  width: 150px;
  height: 150px;
  position: absolute;
  z-index: 0;
}

.post-show-content {
  font-family: 'Bitter';
  font-size: 30px;
  position: relative;
  z-index: 1;
  padding: 80px;
  color: #202020;
}

.post-show-timestamp-container {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}
